{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'books-index' %}">Home</a>
        {% if user.is_authenticated %}
            <span>Welcome {{user}}</span>
            <a href="{% url 'logout' %}">LogOut</a>
            <a href="{% url 'books-new' %}">Add Book</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>